.contenedor-calendario{
    height: 100vh;
    width: 80vw;
    margin: auto;
    background-image: url('../assets/bgVector.png');
    background-repeat: no-repeat;
    background-size: cover;
    --rem: 16;
    --fc-small-font-size: .85em;
    --fc-page-bg-color: #d37373;
    --fc-neutral-bg-color: hsla(0,0%,82%,.3);
    --fc-neutral-text-color: grey;
    --fc-border-color: #ddd;
    --fc-button-text-color: #fff;
    --fc-button-bg-color: #5978E3;
    --fc-button-border-color: #5978E3;
    --fc-button-hover-bg-color: #5978E3;
    --fc-button-hover-border-color: #5978E3;
    --fc-button-active-bg-color: #5978E3;
    --fc-button-active-border-color: #5978E3;
    --fc-event-bg-color: #8559e3;
    --fc-event-border-color: #ca59e3;
    --fc-event-text-color: #fff;
    --fc-event-selected-overlay-color: rgba(0,0,0,.25);
    --fc-more-link-bg-color: #d0d0d0;
    --fc-more-link-text-color: inherit;
    --fc-event-resizer-thickness: 8px;
    --fc-event-resizer-dot-total-width: 8px;
    --fc-event-resizer-dot-border-width: 1px;
    --fc-non-business-color: hsla(0,0%,84%,.3);
    --fc-bg-event-color: #BDE359;
    --fc-bg-event-opacity: 0.3;
    --fc-highlight-color: rgba(188,232,241,.3);
    --fc-today-bg-color: rgba(255,220,40,.15);
    --fc-now-indicator-color: red;
    --fc-daygrid-event-dot-width: 8px;
}
.header-profesor{
    margin: 16px auto;
    padding: 16px;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 24px;
    background-color: #BDE359;
    border-radius: 100px;
    box-shadow: 0px 2px 4px 0px rgba(88, 107, 38, 0.5);
    img{
        border-radius: 50%;
        width: 80px;
        height: 80px;
        object-fit: cover;
    }
}