#bienvenido {
  /*Layout*/
  display: flex;
  gap: 55px;
  padding: 0 32px;
  align-items:center;
  width: 100%;
  height: 350px;

  /*Style*/
  background: #bde359;
}

#contenido-bienvenida {
  padding-top: 30px;
}

#clasesContenedores{
  display: flex;
  flex-wrap: wrap;
  margin: 35px 0;
  justify-content: center;
  gap: 24px;
}